<% include common/header %>

  <!-- write your content inside this div -->

  <div class="content-container">
    <div class="content">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 menu-container">
          <% include common/account-menu %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
        
            <h2>Here are voice submissions of <%= form.formMeta.title%></h2> 
            
            <ul>
            <% for (el in subs) { var sub = subs[el];%>
      				<li class="oh"><div class="fl" style="margin-right:50px;width:400px"><%=sub.index%>. <%=sub.number%> - <%= sub.callDetails.created_at %></a></div>
                  <span class="glyphicon glyphicon-eye-open cp ico fl" onclick="document.location.href='/account/submission/<%= form.formId%>/<%=sub.callId%>'" title="view submission"></span>

              </li>
      			<% }//endfor%>
            </ul>
            <script type="text/javascript">


            </script>
              
        </div>
      </div>
    </div>
  </div>

<% include common/footer %>