<% include common/header %>

  <!-- write your content inside this div -->
  <div class="content-container">
    <div class="content">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 menu-container">
          <% include common/account-menu %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
        
            <h2><%= formTitle %> - Voice Form Demo Page</h2>

            <p>Enter your phone number <input type="text" value="+1" id="phone_number" /></p>
            <p style="text-align:center"> <button id="call_now">Call Now</button> </p>

            <p>If you click call now button, the system will try to call you and read out form questions to you. Then store responses </p>
            <p>You have <b><%= freeCount %> free</b> voice form calls left in your account. After that, you can continue using system by entering your twilio account details <a href="/account">here.</a></p>
            <p><a href="#embedcode" id="embedcode_trigger">get Embed Code</a> </p>
            <div id='status' class="text-left">Waiting...</div>
            <div id='results'> 

            </div>
            
            <script type="text/javascript">
              var formId = "<%= formId %>";
              var useLeft = "<%= freeCount%>";
              $(function(){
                  $("#call_now").click(function(){
                    var number = $("#phone_number").val();
                    step3_old(formId,number);
                  });

                  $("#embedcode_trigger").leanModal();
                  $("#preview_trigger").leanModal();

                  $("#embedcode>textarea").focus(function() {
                    var $this = $(this);
                    $this.select();

                    // Work around Chrome's little problem
                    $this.mouseup(function() {
                        // Prevent further mouseup intervention
                        $this.unbind("mouseup");
                        return false;
                    });
                });
              });
            </script>
            <div id="embedcode" class="dn">
                Here is the embed code <br />
<textarea><script type="text/javascript" src="http://voiceforms.jotform.io:3000/js/vform.embed.js"></script>
<script type="text/javascript">
  VFORM.embed("<%=formId%>");
</script></textarea> <br />

                <a href="#preview" id="preview_trigger" onclick="closeModalTmp('embedcode');">preview</a>
            </div>
            <div id="preview" class="dn">
                  <script type="text/javascript" src="http://voiceforms.jotform.io:3000/js/vform.embed.js"></script>
                  <script type="text/javascript">
                    VFORM.embed("<%=formId%>");
                  </script>

            </div>
        </div>
      </div>
    </div>
  </div>

<% include common/footer %>